/* This adds the cutsom Galactica font */
@font-face {
    font-family: Galactica;
    src: url(BATTLEST.TTF);
}

.container {
    width: 960px;
    margin: 0 auto;
    background-color: clear;
  }

  body {
    background-image: url(galacticaBack.jpg);
    height: 100%;
  }

.title {
    font-family: Galactica;
    text-align: center;
    font-size: 90px;
    color: grey;
    position: relative;
}

.rest {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-family: Galactica;
}

.win {
    text-align: center;
    color: grey;
    font-size: 25px;
    font-family: Galactica;
    float: left;
}

.loss {
    text-align: center;
    color: grey;
    font-size: 25px;
    font-family: Galactica;
    float: right;
}

#pew {
    float: left;
    height: 150px;
    width: 175px;
    position: absolute;
}
